<div class="job-cell">
  {{#if build}}
    <LinkTo @route="pipeline.build" @model={{build.id}}>
      {{fa-icon build.icon fixedWidth=true class=build.status}}
    </LinkTo>
  {{else}}
    <span class="fa"></span>
  {{/if}}
  <div class="job-name">
    {{jobName}}
  </div>
</div>